@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Rubik+Mono+One&display=swap');


#head
{
  text-align: center;
  color:#41929C   ;
  /* background-color: #41769C  ; */
}
#login{
  color:#09566D;
  text-align: center;
  margin:0;
  padding:0;
}


.bor
{ display: block;
  margin:0 auto;
/*  border-style: solid;
  border-width: medium;*/
  padding: 30px 20px;
  width: 30%;
  border-color: #228866 ;
  background-color:#388896           ;
}

.in{
display:block;
text-align: center;
margin:0 auto;
padding:10px 40px;
}
a
{
  color: inherit;
  text-decoration: none;
}
.but
{
  text-align;
  display:block;
  margin:0 auto;
  padding: 10px 110px;
}
#in
{
  text-align: center;
  color:#ffffff ;
}
body {
  /* background-color: #09566D  ; */
   background-image: linear-gradient(to bottom right,#09566D ,#41929C);
}
footer{
  text-align: center;
  color:#0DBABE ;
}
